.badge {
  display: flex;
  align-items: center;
  gap: 4px;
}

.badge-icon {
  height: 16px;
}

.badge-value {
  font-weight: bold;
  background-color: gainsboro;
  padding: 2px 8px;
  border-radius: 8px;
  font-size: 0.8rem;
}
